

<h1>Welcome</h1>
<form action='/hellos/' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type='submit' value='hello'/>
</form>
<p>Find me in app/views/hellos/index.html.erb</p>
